@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-image:
		radial-gradient(at 27% 37%, hsla(215, 98%, 61%, 0.15) 0px, transparent 0%), 
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 0.15) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 0.15) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 0.15) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 0.15) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 0.15) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 0.15) 0px, transparent 50%);
	background-color: hsl(0 0% 100%);
}

a:hover{
  text-decoration: none !important;
  color: black;
}

.container {
    width: -webkit-fill-available;
}

@media (max-width: 768px){
  .mobile {
    flex: auto;
  }
}

@media (min-width: 768px){
  .container {
    width: 750px;
  }
}


@media (min-width: 992px){
  .container {
    width: 970px;
  } 
}

@media (min-width: 1200px){
  .container {
    width: 1170px;
  }
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}